body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    font-weight: 300;
}

.navbar .navbar-brand {
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
}

.navbar .navbar-brand span {
    color: rgb(0, 183, 255);
}

.banner {
    background: url(img/img\ 4.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
}

.banner .container h4 {
    font-weight: 400;
    font-style: italic;
}

.banner .container h3 {
    font-weight: 600;
}

.layanan .container h2 {
    font-weight: 600;
}

.layanan .container p {
    font-weight: 500;
    font-style: italic;
}

.layanan .container .col-md-4 h3 {
    font-weight: 600;
}

.container-fluid .container h2 {
    font-weight: 600;
    color: rgb(0, 102, 255);
}

.container-fluid .container p {
    font-weight: 500;
    font-style: italic;
}

.container-fluid .container .row .col-md-4 .card .card-body h5 {
    font-weight: 600;
    color: rgb(0, 102, 255);
}

.container-fluid .container .row .col-md-4 h4 {
    font-weight: 600;
}

.lingkaran {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: #fff;
    background-color: rgb(0, 102, 255);
}

.lingkaran i {
    position: relative;
    top: 30px;
}

.crop-img {
    object-fit: cover;
}

.tim img {
    width: 250px;
    border: 9px solid rgb(0, 102, 255);
}

a.tugas {
    display: inline-block;
    width: 100px;
    height: 30px;
    color: #fff;
    border-radius: 50px;
    background-color: rgb(0, 102, 255);
    line-height: 30px;
}

.created {
    font-size: 14px;
    font-weight: 500;
}

.created span {
    color: rgb(0, 183, 255);
}

.created {
    background-color: #212529;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
}

.created .social a {
    display: inline-block;
    width: 50px;
    height: 50px;
    color: rgb(0, 183, 255);
}

.created p {
    color: #fff;
}